.MainSection {
  margin-top: 2.5rem;
}
.grid-container {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.blogs {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.blog {
  display: flex;
  gap: 1.5rem;
}
.blog img {
  width: 297px;
  height: 193px;
}
.blocg-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 1.5rem; */
}
.blocg-desc h1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  color: #fff;
}
.blocg-desc p {
  font-size: 14px;
  line-height: 22px;
  color: #767676;
}
.blocg-desc .timeBtn {
  padding: 0;
}
.ads{
  display: flex;
  flex-direction: column;
  gap:3rem ;
 color: #fff;

}
.ads fieldset{
  border: 1px solid #eee;
 border-radius: 8px;
 color: #fff;
}
.search{
 width: 240px;
 height: 42px;
 padding: 0 15px 2px 15px;
 color: #fff;
 background-color: transparent;
 border: none;
}
.search:hover{
  border: none;
}
.ads fieldset i{
  color: #fff;
  font-size: 1rem;
}
.ads .weather{
  display: flex;
  flex-direction: column;
 justify-content: space-between;
 gap: 1.5rem;

}
.ads .weather .location{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.ads .weather .location .locationName{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.ads .weather .location .locationName h1{
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.ads .weather .location .locationName p{
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #999;
}
.ads .weather .location i{
  color: #999;
}
.ads .weather .weatherStage{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  
}
.ads .weather .weatherStage i{
  font-size: 2.5rem;
  line-height: 1.5rem;
  color: #999;
 
}
.ads .weather .weatherStage h2{
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 300;

}
.ads .weather .hum{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  border-top: 1px solid #9e9d9d;
}
.ads .weather .hum span{
  display: flex;
  justify-content: center;
  align-items: center;  
  gap: 0.2rem;
  
}
.ads .weather .hum span i{
  font-size: 0.75rem;
  line-height:1.313rem;
  font-weight:400;
  color: #fff;
}
.ads .weather .hum span p{
  color: #999;
  font-size: 0.75rem;
  line-height:1.313rem;
  font-weight: 400;
}
.ads .weather .days{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#2c2c2c;
  padding: 0.5rem;
}

.ads .weather .days p{
  font-weight: 400;
  color: #c9c7c7;
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
  padding: 3px;
}
.ads .weather .days h2{
  padding: 3px;
  font-style: 20px;
  line-height: 14px;
  font-weight: 400;
  color: #c9c7c7;
}
.ads .financeSection{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.ads .financeSection .badgeFinance{
  display: flex;
  align-items: center;
  gap:0.5rem;
}
.badgeFinance i{
  font-size: 2rem;
  line-height: 2rem;
  color: #767676;
}
.badgeFinance p{
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #999;
}
.financePromte{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.financeBlog{
  display: grid;
 grid-template-columns: repeat(3,1fr);
 justify-content: space-between;
 gap: 1rem;
 margin-top: 10px;
}
.financeBlog .desc{
  grid-column: 1 span / 2 ;
  width: 231px;
  height: 82px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}
.financeBlog img{
 width:64px;
 height: 66px;
}
.financeBlog .desc h3{
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;

}
.financeBlog .desc p{
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  color: #767676;
  
}