/* 2xl */
/* @media (max-width: 1400px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */
@media(max-width:1135px){
    .container{
        max-width: 1024px;
    }
    .wrapImage{
        max-width: 1024px;
    }
   
}
/* lg */
@media(max-width: 1024px){
    .container{
        max-width: 768px
    }
    .wrapImage{
        max-width: 768px
    }
    .navbar{
        gap: 1rem;
    }
    .grid-container{
        grid-template-columns: 1fr;
    }
}

/* md */
@media (max-width: 768px) {
    .container{
        max-width: 640px;
    }
    .wrapImage{
        max-width: 640px;
    }
}
/* sm */

@media (max-width: 640px) {
    .container{
        max-width: 475px;
        background-color:#c22a2a80 ;
    }
    .navbar{
        gap: 0.5rem;
       padding: 10px;
    }
    .wrapImage{
        max-width: 475px
    }
    img{
       max-width: 100%;
    }
    .blogs .bolg{
        background-color: aqua;
        flex-wrap: wrap;
    }
}
/* xs */
@media (max-width: 475px) {
    .container {
      width: 90%;
    }
    .wrapImage{
        width: 90%;
    }
    img{
        max-width: 100%;
     }
  }